{% extends 'base/navbar.html' %}
<title>{% block title %} blog post{% endblock title %}</title>

{% block content %}
<br>
<div>
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <section class="section">
                  <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <div class="content is-medium">
                            <h3 class="title">{{ post.title }}</h3>
                            <p ><small >{{ post.created_at|timesince }} ago</small></p>
                            <p><strong>{{ post.intro }}</strong></p>
                            <hr>
                            {% if post.image %}
                            <div class="image-container">
                                <img src="{{ post.image.url }}">
                            </div>
                            {% endif %}
                            <hr>
                            <p>{{ post.body | safe}}</p>
                            <p>Category: <a href="{% url 'category_detail' post.category.slug %}">{{ post.category }}</a></p>

                            <hr>
                            <h2 class="subtitle is-4">Comments</h2>

                            <form method="post" class="mb-6">
                                {% csrf_token %}

                                {{ form.as_p }}

                                <div class="field">
                                    <div class="control">
                                        <button class="button is-success">Submit comment</button>
                                    </div>
                                </div>
                            </form>

                            {% for comment in post.comments.all %}
                                <article class="media box">
                                    <div class="media-content">
                                        <strong>{{ comment.name }}</strong> <small>{{ comment.created_at|timesince }} ago</small><br>
                                        {{ comment.body }}
                                    </div>
                                </article>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
</div>
{% include 'base/footer.html' %} 
{% endblock %}