{% load static %}
<html>
  <head>
    <link href="{% static 'css/simple.css' %}" rel="stylesheet" type="text/css"/>
    <link 
    href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
    rel="stylesheet"  type='text/css'>
      
    <body>
<div class="container">
<footer class="footer-distributed">

  <div class="footer-left">

    <p class="footer-links">
      <a href="" class="link-1">About</a>
      
      <a href="{% url 'blogs' %}">Blogs</a>
    
      <a href="">Projects</a>
    
      <a href="mailto:075bei017.mahesh@pcampus.edu.np">Ask Help</a>
      
      <!-- <a href="#">Faq</a> -->
      
      <!-- <a href="#">Contact</a> -->
    </p>

    <p class="footer-company-name">Yogesh Upreti © 2023</p>
  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p>Pulchowk, Lalitpur</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>9815018...</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:yogeshupreti54@gmail.com">yogeshupreti54@gmail.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>Follow me</span>
    </p>

    <div class="footer-icons">

      <a href="https://www.facebook.com/yogesh.upreti.98"><i class="fa fa-facebook"></i></a>
      <!-- <a href="#"><i class="fa fa-twitter"></i></a> -->
      <a href="https://www.linkedin.com/in/mahesh-upreti-/"><i class="fa fa-linkedin"></i></a>
      <a href="https://www.instagram.com/yogeshupreti_"><i class="fa fa-instagram"></i></a>
      <a href=""><i class="fa fa-github"></i></a>


    </div>

  </div>

</footer>
</div>
    </body>
  </head>
</html>
